* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
  font-family: 'Recoleta';
  src: url('./fonts/Recoleta-Bold.ttf') format('truetype');
  font-weight: bolder;
  font-style: cursive;
}
@keyframes scroll-text {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

html, body {
    overflow-x: hidden;
    width: 100%;
    background-color: #700058;
}

.poppi-header {
    background-color: #700058;
    padding: 24px 0;
    top: 0;
    border-radius:  0 0 20px 20px;
    box-shadow: 0 20px 50px -10px #fd303a;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo-img {
    height: 30px;
    object-fit: contain;
}

.poppi-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nav-left {
    display: flex;
    gap: 10px;
}

.nav-left a {
    font-family: 'Golos Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fd303a;
    font-size: 14px;
}

.nav-left a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: #fd303a;
}

/* Cherry Cola Profile Section */

.cherry-cola {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    align-items: flex-start;
}
.cc-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 0 410px;
}
.large-img img{
    width: 100%;
    max-height: 700px;
    max-width: 500px;
    border-radius: 12px;
    object-fit: cover;
}
.small-img {
    display: flex;
    gap: 10px;
    align-items: center;
}
.small-img img {
    border-radius: 12px;
    object-fit: cover;
    width: 200px;
    height: 200px;
}
.cc-right {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}
.banner {
    position: relative;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 100;
    height: 30px;
    border-radius: 5px 5px;
    border: 1.66667px solid #fd303a;
    color: #700058;
}
.banner-wrap {
    padding: 0 5px; 
    margin-bottom: 30px;
    width: 400px;
    box-sizing: border-box;
}
.banner-track {
  display: flex;
  animation: scroll-text 20s linear infinite;
}
.banner-track span {
  white-space: nowrap;
  font-size: 20px;
  padding: 0 5px;
  font-family: 'Recoleta', serif;
  font-weight: 500;
  color: #fd303a;
}
.banner-track span svg {
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    
}
.soda-name {
    font-size: 50px;
    color: #fd303a;
    font-family: 'Recoleta', serif;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.soda-description {
    font-size: 20px;
    font-family: 'Golos Text', sans-serif;
    color: #fd303a;
    text-align: center;
    align-items: center;
    line-height: 1.5;
}

.shopnow-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Golos Text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 0 60px;
    line-height: 20px;
    min-width: 100px;
    height: 50px;
    text-decoration: none;

    color:#fd303a;
    background-color:#700058;
    border: 1.66667px solid #fd303a;
    border-radius: 40px;

    box-shadow: 5px 5px 0 0 #fd303a;
    cursor: pointer;
    position: relative;
    z-index: 1;

    transition: background-color 0.25s cubic-bezier(0.42, 0, 0.58, 1),
                color 0.25s cubic-bezier(0.42, 0, 0.58, 1),
                box-shadow 0.25s cubic-bezier(0.42, 0, 0.58, 1);
}

.shopnow-btn:hover {
  background-color:#fd303a;
  color:#700058;
  box-shadow: none;
}

.shopnow-wrap {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Flavors Choice Selection */
.soda-flavors-selection {
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 8px;
    justify-content: center;
}
.arrow {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    flex-shrink: 0;
    margin-top: 20px;
}

.arrow svg circle {
    fill: #fd303a;
}
.arrow svg path {
    fill: #700058;
}
.arrow:hover svg circle {
    fill: #700058;
    stroke: #fd303a;
    stroke-width: 1.67px;
}
.arrow:hover svg path {
    fill: #fd303a;
}

.flavors-carousel {
    overflow-x: hidden;
    display: flex;
    max-width: 400px;
    flex-shrink: 1;
    position: relative;
}
.flavor-icons {
    display: flex;
    gap: 5px;
    margin-top: 20px;
    flex-wrap: nowrap;
}
.flavor-icons a {
    display: flex;
    justify-content: center;
    width: 55px;
    height: 55px;
    align-items: center;
    background-color: #e5fc11;
    border-radius: 5px;
    text-decoration: none;
    
}
.flavor-icons a.active {
  border: 2px solid #fd303a; 
}
.flavor-icons img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

/* Flavor icons colors */
.flavor-icons a:nth-child(1) {background-color:#8725c3;}
.flavor-icons a:nth-child(2) {background-color:#137c21;}
.flavor-icons a:nth-child(3) {background-color:#eb5600;}
.flavor-icons a:nth-child(4) {background-color:#ffc7df;}
.flavor-icons a:nth-child(5) {background-color:white;}
.flavor-icons a:nth-child(6) {background-color:#ec008c;}
.flavor-icons a:nth-child(7) {background-color:#00aeef;}
.flavor-icons a:nth-child(8) {background-color:#e5fc0f;}
.flavor-icons a:nth-child(9) {background-color:#700058;}
.flavor-icons a:nth-child(10) {background-color:#f66ff8;}

.soda-info {
    width: 100%;
    overflow: hidden;
}
.middle-section {
    background-color:white;
    padding: 90px;
    margin-top: -21.9px;
}

@media (max-width: 768px) {
    .cherry-cola {
        flex-direction: column;
        align-items: center;
        padding: 10px 20px;
    }
    .cc-left {
        max-width: 100%;
        align-items: center;
        flex: unset;
    }
    .large-img {
        max-height: 500px;
        max-width: 400px;
    }
    .small-img img {
        width: 200px;
        height: 200px;
    }
    .cc-right {
        margin-top: 40px;
        width: 100%;
        max-width: 500px;
    }
    .soda-name {
        font-size: 40px;
    }
    .soda-description {
        font-size: 16px;
    }
    .middle-section {
        padding: 60px;
        margin-top: -10px;
    }
    .banner-wrap {
        width: 400px;
        align-items: center;
    }
}